.admin > div {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em;
}


.table-summary {
	table-layout:fixed;
}

.table-summary td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.table-borderless tbody > tr > td  {
  border: 0;
}
  

td.summary-heading {
  font-weight: bold;
  width:40%
}

td.summary-content {
  width:60%
}