 <div class="row">
 
<!--  		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
 		<div class="panel panel-default" style="height: 20rem;">
	    <div class="panel-heading">Choose Capacity Feed File</div>
	      <div class="panel-body ">
	      <form method="POST" action="#" enctype="multipart/form-data">
				<div class="form-group">
					<div class="file" name="Fichier1">
						<input type="file" accept=".xls,.xlsx, .csv, .txt"
							class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-success pull-right">Submit</button>
					<button type="reset" class="btn btn-danger">Reset</button>
				</div>
			</form>
	        
	        </div>
	  </div>
 		</div> -->
 		
 		 		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
 		<div class="panel panel-default" style="height: 20rem;">
	    <div class="panel-heading">Choose Capacity Feed File</div>
	      <div class="panel-body ">
	      <form #createTrayForm="ngForm"  method="POST" action="#" enctype="multipart/form-data">
				<div class="form-group">
					<div class="file" name="Fichier1">
						<input type="file" accept=".csv" name="assetId" [(ngModel)]="astInvObj.assetId" #assetId="ngModel"  
							class="form-control" (change)="changeListener($event)"/>
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-success pull-right" (click)="uploadFile()">Submit</button>
					<button type="reset" class="btn btn-danger">Reset</button>
				</div>
			</form>
	        
	        </div>
	  </div>
 		</div>
 		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
 			<div class="panel panel-default" style="height: 20rem;">
      <div class="panel-heading">Reset Data</div>
      <div class="panel-body ">
    <form method="POST" action="#" enctype="multipart/form-data">
			
			<div class="form-check form-check-inline">
				<label class="form-check-label"> <input
					class="form-check-input" type="radio" name="inlineRadioOptions"
					id="inlineRadio1" value="option1"> SIM Capacity Feed Table
				</label><br /> 
			</div>
		</form>
        <a href="#" class="btn btn-danger">Clear Data</a>

    </div>
  </div>
 		</div>
 	
 </div>
 
<!--  
 <div>
                Select file:
                <input type="file" (change)="changeListener($event)">
</div> -->
 
 
 
 
 
 
 
 
 
 
<!--  <div class="content-wrapper">
  <div *ngIf="! data">
    <h3>No records found!</h3>
  </div>
  <div *ngIf="data">
  <clinic-requests-table [columns]=columns [data]=data (viewClinicRequest)="viewClinicRequest($event)"></clinic-requests-table>
  </div>

</div> -->
  
 
 
 <div class="content-wrapper">
  <div *ngIf="! data">
    <h3>No records found!</h3>
  </div>
  <div *ngIf="data">
  <clinic-requests-table [columns]=columns [data]=data ></clinic-requests-table>
  </div>

</div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default" style="display: table; margin: auto">
		<div class="panel-heading"> Uploaded File Data</div>
	<div class="panel-body" style="overflow-x: auto;">
	
	
	
	<table id="example" class="table table-striped table-bordered table-responsive"
			style="width: Auto">
			<thead>
				<tr>
					<th>Capacity Notification Id</th>
					<th>Processing Pharmacy Id</th>
					<th>lookAhead TimeBand</th>
					<th>load Time</th>
					<th>Time Band</th>
					<th>Filler</th>
					<th>Filler</th>
					<th>Filler</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
				<tr>
					<td>473458</td>
					<td>10001</td>
					<td>2</td>
					<td>04/06/2018 13:00:00</td>
					<td>100, 101, 6, 90</td>
					<td>Filler</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	</div>
</div>


<br />
<br />
<br />
