<div class="panel panel-primary">
	<div class="panel-body">
		<h3 class="text-on-pannel text-primary">
			<strong class="text-uppercase"> Dashboard  File</strong>
		</h3>
		<table id="example" class="table table-striped table-bordered"
			style="width: 100%">
			<thead>
				<tr>
					<th>Source</th>
					<th>File Name</th>
					<th>Total records</th>
					<th>Upload Date</th>
					<th>Total Success</th>
					<th>Total Failure</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
				<tr>
					<td>Capacity load</td>
					<td>Capacity load.csv</td>
					<td>100</td>
					<td>2018-03-15 13:01:03</td>
					<td>60</td>
					<td>40</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>
<br />
<br />